In [2]:
import pandas as pd
import numpy as np

Загружаем базу

In [3]:
orders = pd.read_csv("orders_20190822.csv",sep=";",decimal=",",parse_dates=["o_date"])

Считаем кол-во строк

In [4]:
orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2002804 entries, 0 to 2002803
Data columns (total 4 columns):
id_o       int64
user_id    int64
price      float64
o_date     datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(2)
memory usage: 61.1 MB

Смотрим, какой период выгружен и какие максимальные/минимальные значения вообще встречаются

In [105]:
orders.min()

id_o                   1234491
user_id                      0
price                   -184.8
o_date     2016-01-01 00:00:00
dtype: object

In [106]:
orders.max()

id_o                   6945534
user_id                5919156
price                   819097
o_date     2017-12-31 00:00:00
dtype: object

Считаем, кол-во заказов и кол-во уникальных пользователей, которые совершали заказы

In [108]:
orders["id_o"].unique().size

2002804

In [109]:
orders["user_id"].unique().size

1015119

Делим на разные года

In [8]:
first_year = orders.loc[orders["o_date"]>="2016-01-01"].loc[orders["o_date"]<="2016-12-31"]
second_year = orders.loc[orders["o_date"]>="2017-01-01"].loc[orders["o_date"]<="2017-12-31"]

Считаем уникальных пользователей, которые что-то сделали в первый год и ничего - во второй. 
Ищем различия в пользователях первого года относительно второго путем сравнения пересечений numpy-строк. Возвращаем колличество пользователей первого года, которые не встречались в ряду второго года

In [96]:
users_fe = first_year["user_id"].unique()

In [97]:
users_se = second_year["user_id"].unique()

In [101]:
users_fe_not_se =np.setdiff1d(users_fe,users_se)
users_fe_not_se.size

360225

Считаем средний чек и кол-во заказов на пользователя в год. На всякий случай отфильтруем заказы с отрицательной стоимостью. Для нахождения кол-ва заказов на пользователя делим все заказы на кол-во уникальных пользователей

In [102]:
first_year.loc[first_year["price"]>0,"price"].mean()

2095.683552218306

In [17]:
second_year.loc[second_year["price"]>0,"price"].mean()

2398.399389197708

In [104]:
(first_year["user_id"].size)/first_year["user_id"].unique().size

1.9352089006317794

In [22]:
(second_year["user_id"].size)/second_year["user_id"].unique().size

1.74296603725183

Ищем самого активного пользователя. 
Берем уникальных пользователей, считаем частоту, с которой они встречаются.
Берем пользователя с самой большой частотой появления

In [93]:
users = np.unique(orders["user_id"],return_counts=True)

In [94]:
users_df = pd.DataFrame(users,index = ["user_id","counts"]).T

In [95]:
users_df.loc[users_df['counts'].idxmax()]

user_id    765861
counts       3183
Name: 81234, dtype: int64